div #uzumaki {
    background-image: url("img/uzumaki.png");
    display: inline-block !important;
    width: 200px;
    height: 100px;
    position: relative; /* glede na static */ 
    top: -100px; /* zamik od zgornga roba */ 
    left: 20px;
}

#uzumaki img {
    display: none;
}

#team7 div {
    display: inline;
}

#kakashi {
    display: block;
}

#orochimaruteam {
    border: 5px solid green;
    position: relative; /* glede na static (ker je fotr od kabutoja) */
}

#kabuto {
    position: absolute; /* glede na staša, ampak more starš met tut positioning. */
    top: 50px;
    left: 30px;
}



/* css box model, css display property, css selector,
    css positioning, MDN - mozilla development network.